*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/NetBeans/JavaApplication3/nbproject/private/
/NetBeans/JavaApplication3/build/
/NetBeans/BankAccount/nbproject/private/
/NetBeans/BankAccount/build/
/NetBeans/TelerikObjects/nbproject/private/
/NetBeans/TelerikObjects/build/
/NetBeans/HTML5Application/nbproject/private/